<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Student</title>
  </head>
  <h1>Edit Student Data</h1>
  <body>
    <form  action="/students/edit/<%= dataStudents.id %>" method="post">
      <input type="text" name="first_name" value="<%=dataStudents.first_name%>"><br>
      <input type="text" name="last_name" value="<%=dataStudents.last_name%>"><br>
      <input type="text" name="email" value="<%=dataStudents.email%>"><br><br>
      <button type="submit">Edit Student</button>
    </form>
  </body>
  <% if(err_msg){ %>
    <p> <%= err_msg %></p>
  <% } %>
  <a href="/students">Back</a>
</html>
